html, body {
    margin: 0;
}
header {
    background-color: #353535;
    
    h1 {
        color: #009000;
    }
}

/* ===== STRONA KATEGORII ===== */
.category-info .content {
    padding-top: 5% !important;

    .header {
        font-size: 1.6em !important;
    }

    .description > p {
        font-size: 1.25em;
    }
}